<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
        <listEntry value="/dadosEntrada/src/dadosEntrada/application._poo.modificadoresDeAcesso.mod.SobreCarga.java"/>
    </listAttribute>
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
        <listEntry value="1"/>
    </listAttribute>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_EXCLUDE_TEST_CODE" value="true"/>
    <stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="dadosEntrada.application._poo.modificadoresDeAcesso.mod.SobreCarga"/>
    <stringAttribute key="org.eclipse.jdt.launching.MODULE_NAME" value="dadosEntrada"/>
    <stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="dadosEntrada"/>
</launchConfiguration>
